body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(203, 221, 244);
}

.contents {
  width: 100%;
  max-width: 70%;
  margin: 20px auto; 
  border: 2px solid black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 4px 3px 5px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
}

h2 {
  text-align: center;
}

.form-element {
  margin-bottom: 15px;
}

input[type="text"] {
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box; 
  margin-top: 10px;
}

#submit {
  padding: 10px;
  border-radius: 5px;
  background-color: lightsteelblue;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #submit {
    padding: 8px;
    font-size: 14px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; 
}

#notifikasi {
  color: grey;
  font-size: 12px;
  text-align: right;
}
